<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Jangan proses jika file/folder aslinya memang ada (seperti gambar/css)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Lempar sisanya ke index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>